.text {
	animation: y 10s ease 0s normal none;
}
@keyframes y {
    0.0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.chromfire{
    animation: scale 2s ease-in-out alternate infinite;  
    transform-origin: bottom center;
}

@keyframes  scale{
	0%{
        transform: rotateZ(-2deg);
        
    }
    100%{
        transform: rotateZ(7deg);
    }
}

.beans{
    
    animation: beans 2s ease-in-out alternate infinite;  
    transform-origin: bottom center;
}

@keyframes  beans{
	0%{
        transform: rotateZ(-0deg);
        
    }
    100%{
        transform: rotateZ(5deg);
    }
}





